<nav class="navbar navbar-expand-lg navbar-dar bg-dark">
  <div class="container-fluid">
    <!-- <a class="navbar-brand">tester</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon">tester</span>
      <span class="navbar-toggler-icon">tester</span>
      <span class="navbar-toggler-icon">tester</span>
      <span class="navbar-toggler-icon">tester</span>
    </button> -->
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact: true}"
            routerLink="/home">MEAN Technology News</a>
        </li>


      </ul>
      <ul class="navbar-nav mb-2 mb-lg-0 navbar-right">
        <li *ngIf="!auth.loggedOut()" class="nav-item">
          <a class="nav-link active" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact: true}"
            aria-current="page" routerLink="/dashboard">Dashboard</a>
        </li>
        <li *ngIf="!auth.loggedOut()" class="nav-item">
          <a class="nav-link" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact: true}"
            routerLink="/profile">Profile</a>
        </li>
        <li *ngIf="!auth.loggedOut()" class="nav-item">
          <a class="nav-link" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact: true}"
            routerLink="/home">Blog</a>
        </li>
        <li *ngIf="auth.loggedOut()" class="nav-item">
          <a class="nav-link" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact: true}"
            routerLink="/login">Login</a>
        </li>
        <li *ngIf="!auth.loggedOut()" class="nav-item">
          <a class="nav-link pointer" (click)="logout()">Logout</a>
        </li>
        <li *ngIf="auth.loggedOut()" class="nav-item">
          <a class="nav-link" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact: true}"
            routerLink="/register">Register</a>
        </li>
      </ul>

    </div>
  </div>
</nav>
